simpleweb/WebContent/xml/children.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3school.com.cn/children" 
	xmlns="http://www.w3school.com.cn/children"
	elementFormDefault="qualified">
	<xs:element name="children">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="childname" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="age" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>