old-project-archive/simpleweb/WebContent/xml/include2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3school.com.cn">
	<xs:element name="USaddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="street1" type="xs:string" minOccurs="0" />
				<xs:element name="street2" type="xs:string" minOccurs="0" />
				<xs:element name="city" type="xs:string" />
				<xs:element name="state" type="xs:string" />
				<xs:element name="zip" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
